[submodule "3d-stream-radio"]
	path = 3d-stream-radio
	url = https://github.com/Grocel/3D-Stream-Radio
[submodule "armored-combat-extended"]
	path = armored-combat-extended
	url = https://github.com/ACE-Project-Team/ArmoredCombatExtended
[submodule "cfc_chip-lister"]
	path = cfc_chip-lister
	url = https://github.com/CFC-Servers/cfc_chip_lister
[submodule "cfc_spawn-protection"]
	path = cfc_spawn-protection
	url = https://github.com/CFC-Servers/cfc_spawn_protection
[submodule "clegs"]
	path = clegs
	url = https://github.com/chiraqoRP/CLegs
[submodule "csteps"]
	path = csteps
	url = https://github.com/chiraqoRP/CSteps
[submodule "cslide"]
	path = cslide
	url = https://github.com/chiraqoRP/CSlide
[submodule "crouch-stamina"]
	path = crouch-stamina
	url = https://github.com/chiraqoRP/Crouch-Stamina
[submodule "cthirdperson"]
	path = cthirdperson
	url = https://github.com/Flarky55/CThirdPerson
	branch = dev
[submodule "lib_clib"]
	path = lib_clib
	url = https://github.com/chiraqoRP/CLib
[submodule "custom-chat"]
	path = custom-chat
	url = https://github.com/Flarky55/gmod-custom-chat
	branch = master-core
[submodule "custom-loadout"]
	path = custom-loadout
	url = https://github.com/StyledStrike/gmod-custom-loadout
[submodule "debug_badcoderz"]
	path = debug_badcoderz
	url = https://github.com/ExtReMLapin/BadCoderz
[submodule "debug_fprofiler"]
	path = debug_fprofiler
	url = https://github.com/FPtje/FProfiler
[submodule "debug_luadev"]
	path = debug_luadev
	url = https://github.com/Metastruct/luadev
[submodule "debug_perfutils"]
	path = debug_perfutils
	url = https://github.com/wrefgtzweve/gmod_perfutils
[submodule "disconnect-pop-effect"]
	path = disconnect-pop-effect
	url = https://github.com/unknown-gd/disconnect-pop-effect
[submodule "fpp"]
	path = fpp
	url = https://github.com/FPtje/Falcos-Prop-protection
[submodule "glide_experiments"]
	path = glide_experiments
	url = https://github.com/StyledStrike/gmod-glide-experiments
[submodule "glide"]
	path = glide
	url = https://github.com/Flarky55/gmod-glide
[submodule "glide_gtav-helicopters"]
	path = glide_gtav-helicopters
	url = https://github.com/StyledStrike/gmod-glide-gtav-helicopters
[submodule "glide_seatbelt"]
	path = glide_seatbelt
	url = https://github.com/Flarky55/glide-seatbelt
[submodule "lib_cfw"]
	path = lib_cfw
	url = https://github.com/ACF-Team/CFW
[submodule "lib_niknaks"]
	path = lib_niknaks
	url = https://github.com/Nak2/NikNaks
[submodule "lib_sfs"]
	path = lib_sfs
	url = https://github.com/Srlion/sfs
[submodule "lib_shook"]
	path = lib_shook
	url = https://github.com/Srlion/Hook-Library
[submodule "mediaplayer"]
	path = mediaplayer
	url = https://github.com/PurrCoding/gm-mediaplayer
[submodule "musical-keyboard"]
	path = musical-keyboard
	url = https://github.com/Flarky55/musical-keyboard
[submodule "pac3"]
	path = pac3
	url = https://github.com/CapsAdmin/pac3
[submodule "physcrashguard/lua"]
	path = physcrashguard/lua
	url = https://github.com/noaccessl/gmod-PhysicsCrashGuard
[submodule "player-status-icons"]
	path = player-status-icons
	url = https://github.com/Flarky55/gm-psi
[submodule "primitive"]
	path = primitive
	url = https://github.com/shadowscion/Primitive
[submodule "projectile-flight"]
	path = projectile-flight
	url = https://github.com/unknown-gd/projectile-flight
[submodule "seat-weaponizer"]
	path = seat-weaponizer
	url = https://github.com/Flarky55/Seat-Weaponizer
[submodule "simple-derma-skin-selector"]
	path = simple-derma-skin-selector
	url = https://github.com/Flarky55/simple-derma-skin-selector
[submodule "sprops"]
	path = sprops
	url = https://github.com/shadowscion/sprops
[submodule "starfallex"]
	path = starfallex
	url = https://github.com/thegrb93/StarfallEx
[submodule "swep_crappy-video-camera"]
	path = swep_crappy-video-camera
	url = https://github.com/teapotsoftware/crappy-video-camera
[submodule "swep_tacrp"]
	path = swep_tacrp
	url = https://github.com/Flarky55/tacrp
[submodule "tool_advanced-bonemerge"]
	path = tool_advanced-bonemerge
	url = https://github.com/NO-LOAFING/AdvBonemerge
[submodule "tool_advdupe2"]
	path = tool_advdupe2
	url = https://github.com/wiremod/advdupe2/
[submodule "tool_buildbox"]
	path = tool_buildbox
	url = https://github.com/CFC-Servers/buildbox
[submodule "tool_fin3"]
	path = tool_fin3
	url = https://github.com/CheezusChrust/Fin-3
[submodule "tool_grule"]
	path = tool_grule
	url = https://github.com/MartyX5555/G-Rule
[submodule "tool_improved-stacker"]
	path = tool_improved-stacker
	url = https://github.com/Mista-Tea/improved-stacker
[submodule "tool_improved-weight"]
	path = tool_improved-weight
	url = https://github.com/Mista-Tea/improved-weight
[submodule "tool_make-spherical"]
	path = tool_make-spherical
	url = https://github.com/daveth/makespherical
[submodule "tool_multi-parent"]
	path = tool_multi-parent
	url = https://github.com/ACF-Team/multi-parent
[submodule "tool_precision-alignment"]
	path = tool_precision-alignment
	url = https://github.com/ACF-Team/precision-alignment
[submodule "tool_prop2mesh"]
	path = tool_prop2mesh
	url = https://github.com/shadowscion/Prop2Mesh
[submodule "tool_ragdoll-mover"]
	path = tool_ragdoll-mover
	url = https://github.com/Winded/RagdollMover
[submodule "tool_standing-pose"]
	path = tool_standing-pose
	url = https://github.com/Winded/StandingPoseTool
[submodule "tool_tank-track"]
	path = tool_tank-track
	url = https://github.com/shadowscion/TankTrackTool
[submodule "tool_tilebuild"]
	path = tool_tilebuild
	url = https://github.com/CFC-Servers/tilebuild
[submodule "unknown-taunts"]
	path = unknown-taunts
	url = https://github.com/unknown-gd/unknown-taunts
[submodule "wire"]
	path = wire
	url = https://github.com/wiremod/wire
[submodule "core_extensions"]
	path = core_extensions
	url = https://github.com/Flarky55/gmod-extensions
[submodule "core_lzwd"]
	path = core_lzwd
	url = https://github.com/Flarky55/gmod-lzwd
[submodule "lib_gshader"]
	path = lib_gshader
	url = https://github.com/Akabenko/GShader-library
[submodule "tool_proxy-color"]
	path = tool_proxy-color
	url = https://github.com/NotAKidoS/Proxy-Color-Tool
[submodule "swep_tacrp_iron-curtain"]
	path = swep_tacrp_iron-curtain
	url = https://github.com/TacRP-EX-Creators-Club/tacrp-ak
[submodule "outfitter"]
	path = outfitter
	url = https://github.com/Metastruct/outfitter
[submodule "tool_material-editor"]
	path = tool_material-editor
	url = https://github.com/CFC-Servers/material-editor-tool
[submodule "lscs"]
	path = lscs
	url = https://github.com/Flarky55/lscs_public
[submodule "core"]
	path = core
	url = https://github.com/Flarky55/gmod-core
[submodule "paperwork"]
	path = paperwork
	url = https://github.com/Flarky55/gmod-paperwork
[submodule "tool_precision"]
	path = tool_precision
	url = https://github.com/generalwrex/precision-tool
[submodule "tool_magic-align"]
	path = tool_magic-align
	url = https://github.com/SirRanjid/Magic-Align
[submodule "physhing"]
	path = physhing
	url = https://github.com/Flarky55/gmod-physhing
[submodule "tool_permaprops"]
	path = tool_permaprops
	url = https://github.com/MalboroDEV/PermaProps
